ini css saya body {
  font-family: Arial;
  margin: 0;
  background-color: #fdecef; 
  color: #000;
}

.hero {
  background: url("gambar.jpeg") center/cover no-repeat;
  height: 100vh;
  position: relative;
}

.overlay {
  background: rgba(255, 192, 203, 0.75); 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000; 
  padding: 20px;
}

.overlay h1 {
  font-size: 2.5rem;
}

.overlay p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: #f4a6b9;
  color: #000; 
  text-decoration: none;
  border-radius: 25px;
  display: inline-block;
}

section {
  max-width: 900px;
  background: #ffffff;
  margin: 30px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.speaker {
  display: flex;
  gap: 20px;
  align-items: center;
}

.speaker img {
  width: 150px;
  border-radius: 12px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
  color: #000;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #f2b6c6;
  color: #000;
}

button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background: #f4a6b9;
  color: #000;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  background: #e996aa;
}

footer {
  background: #f2b6c6;
  color: #000;
  text-align: center;
  padding: 20px;
}
