body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #ffe4e1;
  color: black;
}

.overlay {
  background: rgba(255, 255, 255, 0.6);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  padding: 20px;
}

.overlay h1 {
  font-size: 2.5rem;
}

.overlay p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: #ffb6c1;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

section {
  max-width: 900px;
  background: #ffffff;
  margin: 30px auto;
  padding: 25px;
  border-radius: 8px;
  color: black;
}

.speaker {
  display: flex;
  gap: 20px;
  align-items: center;
}

.speaker img {
  width: 150px;
  border-radius: 10px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
  color: black;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  color: black;
}

button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background: #ffb6c1;
  color: black;
  border: none;
  cursor: pointer;
}

footer {
  background: #ffc0cb;
  color: black;
  text-align: center;
  padding: 20px;
}
